solution/HostLauncher/Service References/LogService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Log" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILog_recordRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:recordRequest" />
  </wsdl:message>
  <wsdl:message name="ILog_recordRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:recordRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ILog_getAllLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllLogs" />
  </wsdl:message>
  <wsdl:message name="ILog_getAllLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllLogsResponse" />
  </wsdl:message>
  <wsdl:message name="ILog_getClientResquests_InputMessage">
    <wsdl:part name="parameters" element="tns:getClientResquests" />
  </wsdl:message>
  <wsdl:message name="ILog_getClientResquests_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClientResquestsResponse" />
  </wsdl:message>
  <wsdl:message name="ILog_getAVGDelayOf_InputMessage">
    <wsdl:part name="parameters" element="tns:getAVGDelayOf" />
  </wsdl:message>
  <wsdl:message name="ILog_getAVGDelayOf_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAVGDelayOfResponse" />
  </wsdl:message>
  <wsdl:portType name="ILog">
    <wsdl:operation name="recordRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ILog/recordRequest" message="tns:ILog_recordRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILog/recordRequestResponse" message="tns:ILog_recordRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILog/getAllLogs" message="tns:ILog_getAllLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILog/getAllLogsResponse" message="tns:ILog_getAllLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getClientResquests">
      <wsdl:input wsaw:Action="http://tempuri.org/ILog/getClientResquests" message="tns:ILog_getClientResquests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILog/getClientResquestsResponse" message="tns:ILog_getClientResquests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAVGDelayOf">
      <wsdl:input wsaw:Action="http://tempuri.org/ILog/getAVGDelayOf" message="tns:ILog_getAVGDelayOf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILog/getAVGDelayOfResponse" message="tns:ILog_getAVGDelayOf_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILog" type="tns:ILog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recordRequest">
      <soap:operation soapAction="http://tempuri.org/ILog/recordRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLogs">
      <soap:operation soapAction="http://tempuri.org/ILog/getAllLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClientResquests">
      <soap:operation soapAction="http://tempuri.org/ILog/getClientResquests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAVGDelayOf">
      <soap:operation soapAction="http://tempuri.org/ILog/getAVGDelayOf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Log">
    <wsdl:port name="BasicHttpBinding_ILog" binding="tns:BasicHttpBinding_ILog">
      <soap:address location="http://localhost:8734/Wcf_Monitoring/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>