solution/Monitoring/Client-Console_Monitoring/Service References/LogService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/Wcf_Monitoring/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="recordRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInCache" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="delay" type="q1:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllLogsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientResquests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientResquestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getClientResquestsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAVGDelayOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAVGDelayOfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAVGDelayOfResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>